<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img
          src="{{ site.author.image }}"
          alt="{{ site.title }}"
          class="circle-image wow animated zoomIn"
          style="border-radius: 0;"
          data-wow-delay=".1s"
        />
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">
      <!-- {{ site.description }} -->
      I turn pictures
      <i class="fas fa-images" style="font-size: 22px;"></i> into code
      <i class="fas fa-code" style="font-size: 22px;"></i>, use tabs over spaces
      and never broke live websites..... Since my first job
      <i class="far fa-grin-squint-tears" style="font-size: 22px;"></i>
    </p>
  </div>
</div>
